{% extends "base.html" %}
{% load model_objects_info %}

{% block event_logger_contents %}
  <div class="log_records_detail">
    <h2>{{ object|model_object_meta_data:'verbose_name' }} Detail</h2>
    <table class="event_logger_record_table">
      <thead>
        <tr>
          <th>Sl. No.</th>
          <th>Attribute Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for field in object|model_object_fields_list %}
          {% if field|is_field_printable %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ field.verbose_name }}</td>
              <td>{{ field|model_field_value_object:object }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
