{% extends "base.html" %}
{% load model_objects_info %}

{% block event_logger_contents %}
    <div class="log_records_list">
      <h2>{{ object_list.0|model_object_meta_data:'verbose_name_plural' }}</h2>
      {% if request.GET.format == 'table' %}

        <table class="event_logger_records_table">
          <thead>
            <tr>
              <th>Sl.</td>
              {% for fields in object_list.0|model_object_fields_list %}
                {% if fields|is_field_printable %}
                    <th>{{ fields.verbose_name }}</th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for object in object_list  %}
              <tr>
                <td>{{ forloop.counter }}</td>
                {% for fields in object|model_object_fields_list %}
                  {% if fields|is_field_printable %}
                    <td>{{ fields|model_field_value_object:object }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}

      <ul>
          {% for log_record in object_list %}
              <li>{{ log_record }}</li>
          {% endfor %}
      </ul>

      {% endif %}


    </div>

    <div class="log_records_pagination">
      <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?format={{ request.GET.format }}&page=1">&laquo; first</a>
            <a href="?format={{ request.GET.format }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?format={{ request.GET.format }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?format={{ request.GET.format }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    </div>
{% endblock %}
